<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <header>
        <%- include('../partials/_navbar.ejs') %>
    </header>

    <main>
        <% if (myPosts.length) { %>
        <% if(myPosts[0].creator._id.equals(user._id)){ %>
            <a href="/users/profile/<%= user._id %>/edit">Edit profile</a>
        <section>
            <% } %>
            <% } %>
            <img src="data:image/jpeg;base64,<%= user.avatar %>" alt="profile picture" class="profile-avatar">
        </section>



        <section class="profile-info">
            <h2>Profile Information</h2>
            <p><strong>Username:</strong> <%= user.username %></p>
        </section>

        <section class="profile-bio">

            <p>
                <% if (user.bio) { %>
                    <%= user.bio %>
                    <% } else { %>
                        No bio yet.
                        <% } %>
            </p>
        </section>


        <section class="profile-stats">
            <h2>Cards</h2>
            <p><strong>Cards created: <%= postCount %></strong> </p>
        </section>
    </main>


    <div class="post-container">
    <% if (!myPosts.length) { %>
    <p>No posts yet.</p>
    <% } else { %>

    <% myPosts.forEach(post => { %>
        <a href="/posts/<%= post._id %>" class="post-card-link">
        <div class="post-card">
            <br>
            <span class="post-category"><%= post.category %></span>
            <br><br>

            <% if (post.image) { %>
            <img
                src="data:image/jpeg;base64,<%= post.image %>"
                alt="<%= post.title %>"
                class="post-image"
            >
            <% } %>

            <div class="post-content">
            <div class="post-header">
                <h2 class="post-title"><%= post.title %></h2>
            </div>

            <% if (post.description) { %>
                <p><%= post.description %></p>
            <% } %>
            </div>
        </div>
        </a>
    <% }) %>
    <% } %>
    </div>
</body>
</html>
