<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
        <%- include('../partials/_navbar.ejs') %>


            <div class="profile-info">
            <img src="<%= userProfile.avatar %>" alt="profile picture" class="profile-avatar">
            <div class="profile-data">
            <strong><%= userProfile.username %></strong>
            <div class="profile-bio">
            <p>
                <% if (userProfile.bio) { %>
                    <%= userProfile.bio %>
                    <% } else { %>
                        No bio yet.
                        <% } %>
            </p>
        </div>
            </div>

             <div class="edit-profile">
        <% if(userProfile._id.equals(user._id)){ %>
            <button>
                <a href="/users/profile/<%= userProfile._id %>/edit">Edit profile</a>
            </button>

            <% } %>
    </div>


        </div>
        <div class="profile-stats">
            <h2><%= postCount %> Cards</h2>

        </div>

    <section class="profile-posts">
       

    <div class="post-container">

    <% if (!myPosts.length) { %>
    <p>No posts yet.</p>

    <% } else { %>
    <% myPosts.forEach(post => { %>
        <a href="/posts/<%= post._id %>" class="post-card-link">
        <div class="post-card">
            <br>
            <span class="post-category"><%= post.category %></span>
            <br><br>

                            <div class="post-content">
                                <div class="post-header">
                                    <h3 class="post-title"><%= post.title %></h3>
                                </div>

                                <% if (post.description) { %>
                                    <p><%= post.description %></p>
                                <% } %>
                            </div>
                        </div>
                    </a>
                <% }) %>
            <% } %>
        </div>
   
    </div>
</body>
</html>
