<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Posts</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

  <button class="post-btn">
    <a href="/posts/new">+ Add New Post</a>
  </button>

  <div class="post-container">
    <% if (posts.length === 0) { %>
      <p>No posts yet.</p>
    <% } else { %>

      <% posts.forEach(post => { %>
        <a href="/posts/<%= post._id %>" class="post-card-link">
          <div class="post-card">
            <br>
            <span class="post-category"><%= post.category %></span>
            <br><br>

            <% if (post.image) { %>
              <img
                src="data:image/jpeg;base64,<%= post.image %>"
                alt="<%= post.title %>"
                class="post-image"
              >
            <% } %>

            <div class="post-content">
              <div class="post-header">
                <h2 class="post-title"><%= post.title %></h2>
              </div>

              <% if (post.description) { %>
                <p><%= post.description %></p>
              <% } %>
            </div>
          </div>
        </a>
      <% }) %>
    <% } %>
  </div>
</body>
</html>
