<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/showEdit.css" />
    <title><%= post.title %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="show-page-container">
      <% if (post.category !== 'quote' && post.image) { %>
      <div class="show-img">
        <div class="show-cat-img">
          <% if (post.category === 'food') { %>
          <img src="/Assets/Images/Category/food.png" alt="food" />
          <% } else if (post.category === 'songs') { %>
          <img src="/Assets/Images/Category/song.png" alt="songs" />
          <% } else if (post.category === 'movies') { %>
          <img src="/Assets/Images/Category/movie.png" alt="movies" />
          <% } else if (post.category === 'pets') { %>
          <img src="/Assets/Images/Category/pet.png" alt="pets" />
          <% } else if (post.category === 'moment') { %>
          <img src="/Assets/Images/Category/moment.png" alt="moment" />
          <% } else if (post.category === 'quote') { %>
          <img src="/Assets/Images/Category/quote.png" alt="quote" />
          <% } else if (post.category === 'spot') { %>
          <img src="/Assets/Images/Category/spot.png" alt="spot" />
          <% } else if (post.category === 'shows') { %>
          <img src="/Assets/Images/Category/show.png" alt="shows" />
          <% } %>
        </div>

        <img
          src="data:image/jpeg;base64,<%= post.image %>"
          alt="<%= post.title %>"
        />
      </div>
      <% } %>

      <div class="show-info-container">
        <div class="show-header">
          <h1><%= post.title %></h1>
          <h3>Category: <%= post.category %></h3>
        </div>

        <div class="show-details-container">
          <p class="show-by">
            <span>By:</span>
            <a href="/users/profile/<%= post.creator._id %>"
              ><%= post.creator.username %></a
            >
          </p>

          <% if (post.description) { %>
          <p class="show-description"><%= post.description %></p>
          <% } %> <% if (post.url) { %>
          <p class="show-link">
            <a href="<%= post.url %>" target="_blank" rel="noopener">Link</a>
          </p>
          <% } %>
        </div>

        <div class="likes-container">
          <div class="likes-count">
            <h3><%= post.likedBy.length %> Likes</h3>
          </div>

          <% if (user) { %>
          <div class="like-btn-container">
            <%if (userHasLiked) { %>
            <form
              action="/posts/<%= post._id %>/likes/<%= user._id %>?_method=DELETE"
              method="POST"
            >
              <button class="round-btn like-btn liked" type="submit">
                <span class="heart-icon">💔</span> Unlike
              </button>
            </form>
            <% } else { %>
            <form
              action="/posts/<%= post._id %>/likes/<%= user._id %>"
              method="POST"
            >
              <button class="round-btn like-btn" type="submit">
                <span class="heart-icon">🤍</span>Like
              </button>
            </form>
            <% } %>
          </div>
          <% } else { %>
          <p>Log in to like this post.</p>
          <% } %>
        </div>

        <div class="comments-container">
          <form action="/posts/<%= post._id %>/comments" method="POST">
            <input
              type="text"
              name="description"
              id="description"
              class="comment-input"
              placeholder="Write a comment"
            />
            <button type="submit" class="comment-btn">Add comment</button>
          </form>

          <div class="comments-list">
            <% postComments.forEach(comment => { %>
            <div class="comment-card">
              <% if (comment.userID.avatar) { %>
          <img
            src="data:image/jpeg;base64,<%= comment.userID.avatar %>"
            alt="commenter's avatar"
            class="cmt-avatar"
          >
        <% } else { %>
          <img
            src="/Assets/Images/default-avatar.png"
            alt="commenter's avatar"
            class="cmt-avatar"
          >
        <% } %>

              <div class="comment-header">
                <h5 class="comment-author"><%= comment.userID.username %></h5>
                <p class="comment-text"><%= comment.description %></p>
              </div>




              <% if(comment.userID._id.equals(user._id)) { %>
              <form
                action="/posts/<%= comment.postID._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
                class="delete-comment-form"
              >
                <button type="submit" class="delete-comment-btn">Delete</button>
              </form>
              <% } %>
            </div>
            <% }); %>
          </div>
          <% if (post.creator._id.equals(user._id)) { %>
          <div class="creator-container">
            <a href="/posts/<%= post._id %>/edit" class="round-btn edit-btn"
              >✏️ Edit</a
            >
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
              <button type="submit" class="round-btn delete-btn">
                🗑️ Delete
              </button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
